@use "../global" as global;

.l-section {
  position: relative;
}

.l-section__inner {
  box-sizing: initial;
  max-inline-size: calc(var(--viewport-inner) * var(--rem-ratio));
  padding-inline: var(--horizontal-spacing);
  margin-inline: auto;
}

.l-section__content {
}
