---
const { mediaImage, imageAlt, text, buttonText } = Astro.props;

import { Picture } from "astro:assets";

import Button from "../../components/component/Button.astro";
---

<div class="media">
  <div class="media__container">
    <Picture
      src={mediaImage}
      formats={["avif", "webp"]}
      alt={imageAlt}
      pictureAttributes={{ class: "media__image" }}
    />
    <div class="media__content">
      <p class="media__text">{text}</p>
      <div class="media__button">
        <Button text={buttonText} />
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .media {
    container-type: inline-size;
    padding-block: calc(10 * var(--rem-ratio));
  }

  .media__container {
    @include global.clamp(--_column-gap, 10, 40);

    display: block grid;
    grid-template-areas:
      "image text"
      "button button";
    grid-template-columns: 150fr 220fr;
    column-gap: var(--_column-gap);

    @container (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .media__image {
    grid-area: image;

    img {
      object-fit: cover;
      block-size: 100%;
    }
  }

  .media__content {
    display: contents;

    @container (min-width: 600px) {
      display: block flow;
      padding-inline: calc(15 * var(--rem-ratio));
    }
  }

  .media__text {
    grid-area: text;
    font-size: var(--font-size-15-20);
    line-height: var(--line-height-15-18);

    @include global.mq() {
      line-height: var(--line-height-24-20);
    }
  }
  .media__button {
    grid-area: button;
    text-align: center;
    margin-block-start: calc(20 * var(--rem-ratio));

    @container (min-width: 600px) {
      margin-block-start: calc(62 * var(--rem-ratio));
    }
  }
</style>
