---
import type { ImageMetadata } from "astro";

interface Props {
  text: string;
  iconUrl?: string;
}

const { text, iconUrl = "/src/assets/arrow-right.svg" } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/**/*");
if (!images[iconUrl]) {
  throw new Error(`"${iconUrl}" does not exist in glob: "/src/assets/**/*"`);
}

const icon = await images[iconUrl]().then((module) => module.default);
---

<a href="#">{text}</a>

<style lang="scss" define:vars={{ icon: `url(${icon.src})` }}>
  a {
    @include global.clamp(--_padding-block, 9, 7);

    display: inline flex;
    align-items: center;
    padding-block: var(--_padding-block);
    padding-inline: calc(25 * var(--rem-ratio));
    border-radius: calc(1px / 0);
    color: var(--color-button-text);
    background: var(--color-button-ground);
    column-gap: calc(10 * var(--rem-ratio));
    font-size: var(--font-size-20-30);
    line-height: var(--line-height-20-24);

    @include global.mq() {
      line-height: var(--line-height-30-36);
    }

    &::after {
      content: "";
      background-image: var(--icon);
      inline-size: calc(32 * var(--rem-ratio));
      aspect-ratio: 1;
    }
  }
</style>
