---
import { getImage } from "astro:assets";
import arrowRight from "../../assets/arrow-right.svg";
const arrowRightImage = await getImage({ src: arrowRight });

const { text } = Astro.props;
---

<a href="#">{text}</a>

<style lang="scss" define:vars={{ arrowRight: `url(${arrowRightImage.src})` }}>
  a {
    @include global.clamp(--_padding-block, 9, 7);

    display: inline flex;
    align-items: center;
    padding-block: var(--_padding-block);
    padding-inline: calc(25 * var(--rem-ratio));
    border-radius: calc(1px / 0);
    color: var(--color-button-text);
    background: var(--color-button-ground);
    column-gap: calc(10 * var(--rem-ratio));
    font-size: var(--font-size-20-30);
    line-height: var(--line-height-20-24);

    @include global.mq() {
      line-height: var(--line-height-30-36);
    }

    &::after {
      content: "";
      background-image: var(--arrowRight);
      inline-size: calc(32 * var(--rem-ratio));
      aspect-ratio: 1;
    }
  }
</style>
