---
import PictureFrame from "@components/component/PictureFrame.astro";

const icon = { url: "/src/assets/page-top.svg", alt: "ページトップに戻る" };
---

<a
  href="#top"
  class="page-top"
  data-scroll-target="page-top"
  data-scroll-animation="fade-in-activate"
>
  <span class="page-top__icon">
    <PictureFrame url={icon.url} alt={icon.alt} />
  </span>
</a>

<style lang="scss">
  .page-top {
    display: block flow;
    padding-block: calc(25 * var(--rem-ratio));
    padding-inline: calc(22 * var(--rem-ratio));
  }

  .page-top__icon {
    inline-size: calc(50 * var(--rem-ratio));

    :global(img) {
    }
  }
</style>

<script>
  import ScrollAnimator from "@ts/scrollAnimator";

  const pageTop = new ScrollAnimator(300, '[data-scroll-target="page-top"]', {
    reverse: true,
  });
</script>
