---
const { title } = Astro.props;
---

<h2>{title}</h2>

<style lang="scss">
  h2 {
    font-size: var(--font-size-30-50);
    line-height: var(--line-height-30-36);

    @include global.mq() {
      line-height: var(--line-height-50-61);
    }
  }
</style>
