---
const { title } = Astro.props;
---

<h2 class="section-heading js-section-heading-animation">{title}</h2>

<style lang="scss">
  .section-heading {
    font-size: var(--font-size-30-50);
    line-height: var(--line-height-30-36);

    @include global.mq {
      line-height: var(--line-height-50-61);
    }
  }
</style>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  gsap.utils
    .toArray<HTMLElement>(".js-section-heading-animation")
    .forEach((item) => {
      gsap.fromTo(
        item,
        {
          x: 20,
          autoAlpha: 0,
        },
        {
          x: 0,
          autoAlpha: 1,
          scrollTrigger: {
            trigger: item,
            toggleActions: "play none none reverse",
            start: "top 90%",
            // markers: true,
          },
        },
      );
    });
</script>
