---
import PictureFrame from "../components/component/PictureFrame.astro";
import FooterNavigation from "../components/component/FooterNavigation.astro";

const logo = { url: "/src/assets/logo.svg", alt: "ロゴ：丸山工務店" };
const menus = [
  {
    name: "会社概要",
    url: "#",
  },
  {
    name: "施工事例",
    url: "#",
  },
  {
    name: "お問い合わせ",
    url: "#",
  },
];
---

<footer class="section l-section">
  <div class="inner l-section__inner">
    <div class="container l-section__container">
      <div class="logo">
        <a href="#">
          <PictureFrame url={logo.url} alt={logo.alt} />
        </a>
      </div>
      <div class="content">
        <div class="navigation">
          <FooterNavigation menus={menus} />
        </div>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  .section {
    @include global.mq() {
      padding-block: calc(10 * var(--rem-ratio));
    }
  }

  .inner {
  }

  .container {
    display: block flex;
    justify-content: space-between;

    @include global.mq() {
      padding-inline-start: calc(10 * var(--rem-ratio));
    }
  }

  .logo {
    inline-size: calc(76 * var(--rem-ratio));
  }

  .content {
  }

  .navigation {
  }
</style>
