---
import PictureFrame from "../components/component/PictureFrame.astro";
import DrawerNavigation from "../components/component/DrawerNavigation.astro";
import Hamburger from "../components/component/Hamburger.astro";

const logo = { url: "/src/assets/logo.svg", alt: "丸山工務店" };
const menus = [
  {
    name: "ホーム",
    url: "#",
  },
  {
    name: "施工事例",
    url: "#",
  },
  {
    name: "お問い合わせ",
    url: "#",
  },
];
---

<header class="l-section">
  <div class="inner l-section__inner">
    <div class="container l-section__container">
      <h1 class="logo">
        <PictureFrame url={logo.url} alt={logo.alt} />
      </h1>
      <div class="content">
        <div class="navigation">
          <DrawerNavigation menus={menus} />
        </div>
        <div class="hamburger">
          <Hamburger />
        </div>
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  header {
  }

  .inner {
  }

  .container {
    container-type: inline-size;
    display: block flex;
    justify-content: space-between;
  }

  .logo {
    inline-size: calc(76 * var(--rem-ratio));
  }

  .content {
  }

  .navigation {
    position: absolute;
    inset-block-start: calc(var(--header-block-size) * var(--rem-ratio));
    inset-inline: 0;
    z-index: var(--z-navigation);
  }

  .hamburger {
    @include global.mq() {
      display: none;
    }
  }
</style>
