---
import About from "@components/top/About.astro";
import Consultation from "@components/top/Consultation.astro";
import MainVisual from "@components/top/MainVisual.astro";
import Review from "@components/top/Review.astro";
import Works from "@components/top/Works.astro";
---

<MainVisual />

<main>
  <About />
  <Works />
  <Review />
  <Consultation />
</main>
