---
import Header from "../components/Header.astro";
import MainVisual from "../components/top/MainVisual.astro";
import About from "../components/top/About.astro";
import Works from "../components/top/Works.astro";
import Review from "../components/top/Review.astro";
import Consultation from "../components/top/Consultation.astro";
import Footer from "../components/Footer.astro";
---

<main>
  <Header />
  <MainVisual />
  <About />
  <Works />
  <Review />
  <Consultation />
  <Footer />
</main>
