---
import SectionHeading from "/src/components/component/SectionHeading.astro";
import AboutMedia from "/src/components/component/AboutMedia.astro";
---

<section class="l-section">
  <div class="inner l-section__inner">
    <div class="content l-section__content">
      <SectionHeading />
      <AboutMedia />
    </div>
  </div>
</section>
