---
import SectionHeading from "../../components/component/SectionHeading.astro";
import WorksCard from "../../components/component/WorksCard.astro";

const title = "丸山工務店でできること";

interface Post {
  frontmatter: {
    title: string;
    thumbnail: {
      url: string;
      alt: string;
    };
    description: string;
  };
}

const importPosts = import.meta.glob<Post>("../../pages/works/*.md");
const posts = await Promise.all(
  Object.entries(importPosts).map(async ([path, loader]) => {
    const post = await loader();
    return post;
  }),
);
---

<section class="section l-section">
  <div class="inner l-section__inner">
    <div class="container l-section__container">
      <div class="heading">
        <SectionHeading title={title} />
      </div>
      <div class="content">
        {
          posts.map((post) => (
            <WorksCard
              title={post.frontmatter.title}
              thumbnail={post.frontmatter.thumbnail}
              description={post.frontmatter.description}
            />
          ))
        }
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .section {
  }

  .inner {
  }

  .container {
    container-type: inline-size;
  }

  .heading {
  }

  .content {
    margin-block-start: calc(10 * var(--rem-ratio));
    display: block grid;
    row-gap: calc(10 * var(--rem-ratio));

    @container (min-width: 600px) {
      grid-template-columns: repeat(3, 1fr);
      column-gap: calc(10 * var(--rem-ratio));
      padding-block: calc(10 * var(--rem-ratio)) calc(20 * var(--rem-ratio));
    }
  }
</style>
