@use "../global" as global;

@media (prefers-reduced-motion: no-preference) and (scripting: enabled) {
  /* ======================================================
  // フェードイン、要素の活性化
  // ------------------------------------------------------ */
  [data-scroll-animation="fade-in-activate"] {
    transition-timing-function: ease;
    transition-duration: 1s;
    transition-property: visibility, opacity;

    &:not([data-animated]) {
      visibility: hidden;
      opacity: 0;
    }
  }

  [data-drawer-animation="accordion"] {
    display: block grid;
    grid-template-rows: 1fr;
    overflow: clip;
    transition-timing-function: ease;
    transition-duration: 1s;
    transition-property: visibility, grid-template-rows;

    &:where(:not(.is-active)) {
      visibility: hidden;
      grid-template-rows: 0fr;
    }

    @include global.mq {
      display: revert;
      visibility: revert;
    }
  }

  [data-overlay-animation="fade-in-activate"] {
    background-color: var(--color-overlay);
    transition-timing-function: ease;
    transition-duration: 1s;
    transition-property: visibility, opacity, background-color;

    #js-drawer:not(.is-active) ~ & {
      visibility: hidden;
      background-color: transparent;
      opacity: 0;
    }
  }
}
