@media (prefers-reduced-motion: no-preference) and (scripting: enabled) {
  /* ======================================================
  // フェードイン、要素の活性化
  // ------------------------------------------------------ */
  [data-scroll-animation="fade-in-activate"] {
    transition-timing-function: ease;
    transition-duration: 1s;
    transition-property: visibility, opacity;

    &:not([data-animated]) {
      visibility: hidden;
      opacity: 0;
    }
  }

  [data-drawer-animation="fade-in-activate"] {
    transition-timing-function: ease;
    transition-duration: 1s;
    transition-property: visibility, opacity;

    &:not(.is-active) {
      visibility: hidden;
      opacity: 0;
    }
  }

  [data-overlay-animation="fade-in-activate"] {
    transition-timing-function: ease;
    transition-duration: 1s;
    transition-property: visibility, opacity, background-color;
    background-color: var(--color-overlay);

    #js-drawer:not(.is-active) ~ & {
      visibility: hidden;
      opacity: 0;
      background-color: transparent;
    }
  }
}
