:root {
  // 基本色
  --color-white: #fff;
  --color-black: #000;

  // メインカラー
  --color-main: #000080;

  // 文字
  --color-text: var(--color-text-black);
  --color-text-black: #000;

  // 地色
  --color-ground: var(--color-ground-light);
  --color-ground-light: #fff;

  // オーバーレイ
  --color-overlay: rgb(from #000 r g b / 60%);

  // ボタン
  --color-button-text: #fff;
  --color-button-ground: var(--color-main);

  // ハンバーガーボタン
  --color-hamburger: #d9d9d9;

  // 不透明度
  --opacity: 0.9;
}
