---
import "@styles/sass/style.scss";
import Loading from "@components/component/Loading.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import PageTopButton from "@components/component/PageTopButton.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="format-detection" content="telephone=no,address=no,email=no" />

    <meta name="robots" content="noindex,nofollow" />

    <link
      rel="icon"
      type="image/svg+xml"
      href={`${import.meta.env.BASE_URL}favicon.svg`}
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Googleフォントの読み込み -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      fetchpriority="high"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+JP:wght@100..900&display=swap"
      media="print"
      onload="this.media='all'"
    />
  </head>
  <body>
    <Loading>
      <Header />
      <slot />
      <Footer />

      <div class="page-top">
        <PageTopButton />
      </div>
    </Loading>
  </body>
</html>

<style lang="scss">
  .page-top {
    position: fixed;
    inset-block-end: 0;
    inset-inline-end: calc(25 * var(--rem-ratio));
  }
</style>

<script>
  import ViewportManager from "@ts/viewportManager";

  const minWidth: number = parseInt(
    window.getComputedStyle(document.body).getPropertyValue("--viewport-min"),
  );
  const viewportManager = new ViewportManager(minWidth);
</script>
