---

---

<section class="section l-section">
  <div class="inner l-section__inner">
    <div class="container l-section__container">
      <slot />
    </div>
  </div>
</section>

<style lang="scss">
  .section {
  }

  .inner {
  }

  .container {
  }
</style>
