---
import SectionHeading from "@components/component/SectionHeading.astro";

interface Props {
  title?: string;
  sectionTag?: keyof HTMLElementTagNameMap;
}

const { title = "", sectionTag = "section" } = Astro.props;
---

<Fragment set:html={`<${sectionTag} class="section l-section">`} />
<div class="inner l-section__inner">
  <div class="container l-section__container">
    {
      title && (
        <div class="heading">
          <SectionHeading title={title} />
        </div>
      )
    }
    <div class="content">
      <slot />
    </div>
  </div>
</div>
<Fragment set:html={`</${sectionTag}>`} />

<style lang="scss">
  .section {
  }

  .inner {
  }

  .container {
  }

  .heading {
  }

  .content {
    margin-block-start: calc(10 * var(--rem-ratio));
  }
</style>
